.sport {
    height: 800px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-content: center;
    align-items: center;
    margin-bottom: 70px;
    gap: 20px;
    padding: 1px;
    padding-left: 10px;

}

.sport-header{
    margin-top: 10px;
    color: white;
    /* background-color: #333; */
    margin-top: 50px;
    letter-spacing: .1em;
    text-shadow: 
      0 -1px 0 #fff, 
      0 1px 0 #2e2e2e, 
      0 2px 0 #2c2c2c, 
      0 3px 0 #2a2a2a, 
      0 4px 0 #282828, 
      0 5px 0 #262626, 
      0 6px 0 #242424, 
      0 7px 0 #222, 
      0 8px 0 #202020, 
      0 9px 0 #1e1e1e, 
      0 10px 0 #1c1c1c, 
      0 11px 0 #1a1a1a, 
      0 12px 0 #181818, 
      0 13px 0 #161616, 
      0 14px 0 #141414, 
      0 15px 0 #121212, 
      0 22px 30px rgba(0, 0, 0, 0.9);
}


.sport-2 {
    height: 100%;
    width: 100%;
    /* background-image: linear-gradient(315deg, #000000 0%, #414141 74%); */
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 22.5%;    
    overflow-x: auto;
    grid-gap: 20px;
    grid-column-gap: 5px;


}

.sportrow-container.light {
    height: 550px;
    width: 400px;
    /* background-image: linear-gradient(315deg, #63d471 0%, #233329 74%); */
    background: linear-gradient(to right, #638fa1, #518596, #5c8394);    
    box-shadow: 4px 4px 6px 4px rgba(10, 10, 10, 0.451);
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: space-between;
    border-radius: 20px;
    overflow: hidden;
    transition: transform 450ms;
    margin-top: 30px;
    margin-bottom: 40px;
}

.sportrow-container {
    height: 550px;
    width: 400px;
    /* background-image: linear-gradient(315deg, #63d471 0%, #233329 74%); */
    background: linear-gradient(to right, #2C5364, #203A43, #0F2027);    
    box-shadow: 4px 4px 6px 4px rgba(10, 10, 10, 0.451);
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: space-between;
    border-radius: 20px;
    overflow: hidden;
    transition: transform 450ms;
    margin-top: 30px;
    margin-bottom: 40px;
}

.sportrow-container:hover {
    transform: scale(1.08);
    opacity: 1;
}

.sportcard-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    text-align: center;
    justify-content: space-evenly;
    row-gap: 15px;
    color: rgb(255, 253, 253);
}

.sport-card-img {
    height: 100px;
    width: 250px;
}

#sport-pic  {
    height: 250px;
    width: 400px;
}

@media only screen and (max-width: 600px ) {
    .sport {
        margin: auto;
    }

    .sport-2 {
        grid-auto-flow: column;
        grid-auto-columns: 65%;    
        padding-left: 20px;
            
    }
    .sportrow-container {
        height: 350px;
        width: 350px;
    }

    #sport-pic  {
        height: 175px;
        width: 350px;
    }

    .sportcard-info {
        font-size: 10.5px;
        font-weight: bold;
        row-gap: 6px;
        padding-left: 10px;

    }
    
}