* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

.Homepage {
    height:100%;
    background: linear-gradient(to right, #2C5364, #203A43, #0F2027);    
    color: #eee;
    display:flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-content: center;
    align-items: center;
    overflow-y: auto;
}

.Homepage.light{
    height:100%;
    background: linear-gradient(to right, #2C5364, #70cbe9, #224757);    
    color: #eee;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    overflow-y: auto;
}

#switch {
    height: 50px;
    width: 50px;
    display: flex;
    align-content: center;
}

.calltoaction {
    height: 450px;
    width: 100%;
    /* background-image: url('../public/images/sport.png'); */
    background-repeat: no-repeat; 
    background-position: center;
    /* background-color:#333; */
    margin-top: 40px;


} 

.calltoaction-info{
    height: 450px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-content: center;
    align-items: center;
    text-align: center;
    backdrop-filter: blur(6px);
    color: #2c5364;   
    letter-spacing: .1em;
    padding-bottom: 100px;
    text-shadow: 
      0 -1px 0 #fff, 
      0 1px 0 #2e2e2e, 
      0 2px 0 #2c2c2c, 
      0 3px 0 #2a2a2a, 
      0 4px 0 #282828, 
      0 5px 0 #262626, 
      0 6px 0 #242424, 
      0 7px 0 #222, 
      0 8px 0 #202020, 
      0 9px 0 #1e1e1e, 
      0 10px 0 #1c1c1c, 
      0 11px 0 #1a1a1a, 
      0 12px 0 #181818, 
      0 13px 0 #161616, 
      0 14px 0 #141414, 
      0 15px 0 #121212, 
      0 22px 30px rgba(0, 0, 0, 0.9);
}
.calltoaction-info.light{
    height: 450px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-content: center;
    align-items: center;
    text-align: center;
    backdrop-filter: blur(6px);
    color: #5ba9ca;   
    letter-spacing: .1em;
    padding-bottom: 100px;
    text-shadow: 
      0 -1px 0 #fff, 
      0 1px 0 #2e2e2e, 
      0 2px 0 #2c2c2c, 
      0 3px 0 #2a2a2a, 
      0 4px 0 #282828, 
      0 5px 0 #262626, 
      0 6px 0 #242424, 
      0 7px 0 #222, 
      0 8px 0 #202020, 
      0 9px 0 #1e1e1e, 
      0 10px 0 #1c1c1c, 
      0 11px 0 #1a1a1a, 
      0 12px 0 #181818, 
      0 13px 0 #161616, 
      0 14px 0 #141414, 
      0 15px 0 #121212, 
      0 22px 30px rgba(0, 0, 0, 0.9);
}




#ticket {
    height: 50px;
    width: 50px;
    margin-left: 30px;
    margin-top: 30px;
}


.see-tickets{
    cursor: pointer;
    width: 100px;
    height: 40px;
    border: none;
    color:white;
    background-image: linear-gradient(315deg, #000000 0%, #414141 74%);    
    /* border: transparent; */
    border-style: none;
    border-radius: 4px;
    box-shadow: inset 0 0 0 0 rgb(122, 122, 122);
    transition: ease-out 0.3s;
    outline: white;
    
}
.see-tickets.light{
    cursor: pointer;
    width: 100px;
    height: 40px;
    border: none;
    color:white;
    background-image: linear-gradient(315deg, #000000 0%, #414141 74%);    
    /* border: transparent; */
    border-style: none;
    border-radius: 4px;
    box-shadow: inset 0 0 0 0 rgb(122, 122, 122);
    transition: ease-out 0.3s;
    outline: white;
    
}


.see-tickets:hover {
    box-shadow: inset 100px 0 0 0 #2c5364;
    color: white;
}

.see-tickets:hover.light {
    box-shadow: inset 100px 0 0 0 #8dddff;
    color: white;
}

.button {
    cursor: pointer;
    width: 150px;
    height: 40px;
    border: none;
    color:white;
    background-image: linear-gradient(315deg, #000000 0%, #414141 74%);    
    border-radius: 4px;
    box-shadow: inset 0 0 0 0 rgb(122, 122, 122);
    transition: ease-out 0.3s;
    outline: white;
}


.button:hover {
    box-shadow: inset 150px 0 0 0 #2c5364;
    color: black;
}




#footer-icon {
    height: 30px;
    width: 30px;
    justify-content: center;
    align-items: center;
    gap: 20px
}
.sports-row {
    height: 100vh;
    background-color: blue;
}




@media only screen and (max-width: 600px ) {
   .App {
       height: 450vh;
       overflow-y: scroll;
       
   }
    .calltoaction {
        margin-top: 200px;
        width: 600px;
        margin-bottom: 40px;
    }
    .calltoaction-info {
        width: 600px;
        padding-bottom: 30px;
        margin-bottom: 50px;
        padding-top:60px;
    }

 
}